[Unit]
Description=Polkit agent using fuzzel
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env fuzzel-polkit-agent
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
