layout {
    background-color "transparent"

    focus-ring {
        active-color   "#e1b7f5"
        inactive-color "#978e98"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e1b7f5"
        inactive-color "#978e98"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e1b7f5"
        inactive-color "#978e98"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e1b7f580"
    }
}

recent-windows {
    highlight {
        active-color   "#5b396d"
        urgent-color   "#ffb4ab"
    }
}