layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b6d086"
        inactive-color "#8f9284"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b6d086"
        inactive-color "#8f9284"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b6d086"
        inactive-color "#8f9284"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b6d08680"
    }
}

recent-windows {
    highlight {
        active-color   "#394d12"
        urgent-color   "#ffb4ab"
    }
}