workspace "browser"
workspace "code"
workspace "chat"

prefer-no-csd
screenshot-path "~/pictures/screenshots/%Y-%m-%d-%H-%M-%S.png"

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id="nmtui"
    match app-id="lf"
    open-floating true
}

input {
    touchpad {
        tap
        dwt
        drag true
        accel-profile "flat"
        scroll-method "two-finger"
        natural-scroll
    }

    mouse {
        accel-profile "flat"
        natural-scroll
    }

    disable-power-key-handling
    focus-follows-mouse
}

layout {
    gaps 5
    always-center-single-column
    default-column-display "tabbed"

    preset-column-widths {
        proportion 1.0
        proportion 0.5
    }

    default-column-width {
        proportion 1.0; 
    }

    preset-window-heights {
        proportion 1.0
        proportion 0.5
    }

    focus-ring {
        width 1
        active-color "#00000000"
        inactive-color "#00000000"
        urgent-color "#eb4d4b"
    }

    border {
        off
    }

    shadow {
        on
        softness 10
        spread 5
        offset x=0 y=0
        color "#11111188"
    }

    tab-indicator {
        hide-when-single-tab
        place-within-column
        gap 5
        width 5
        length total-proportion=0.5
        position "left"
        gaps-between-tabs 5
        corner-radius 8
        active-color "#ffffffaa"
        inactive-color "#777777aa"
        urgent-color "#eb4d4b"
    }

    insert-hint {
        color "#ffc87f80"
    }
}

animations {
    slowdown 0.5
}

hotkey-overlay {
    skip-at-startup
}

binds {
    Mod+Return { spawn "alacritty"; }
    Mod+Space { spawn "fuzzel"; }
    Mod+B { spawn "qutebrowser"; }
    Mod+E { spawn "bash" "-c" "$LF"; }

    Mod+Shift+P { spawn "power-menu"; }
    Mod+Shift+C { spawn "quick-calculator"; }
    Mod+Shift+V { spawn "clipboard-history"; }
    Mod+Shift+N { spawn "notification-history"; }
    Mod+Shift+L { spawn "loginctl" "lock-session"; }
    Mod+Shift+M { power-off-monitors; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "1%+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "1%-"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext         allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+1%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "-1%"; }

    Mod+Print { screenshot-screen; }
    Mod+Alt+Print { screenshot-window; }
    Mod+Control+Print { screenshot; }
    Mod+Shift+Print { spawn "wl-screenrec-wrapper"; }
    Mod+Shift+Control+Print { spawn "wl-screenrec-wrapper" "-s"; }

    Mod+W { toggle-overview; }
    Mod+Q { close-window;  }
    Mod+F { toggle-window-floating; }
    Mod+Alt+F { switch-focus-between-floating-and-tiling; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Tab { focus-workspace-previous; }

    Mod+1 { focus-workspace "browser"; }
    Mod+2 { focus-workspace "code"; }
    Mod+3 { focus-workspace "chat"; }
    Mod+U { focus-workspace-up; }
    Mod+D { focus-workspace-down; }

    Mod+Ctrl+1 { move-column-to-workspace "browser"; }
    Mod+Ctrl+2 { move-column-to-workspace "code"; }
    Mod+Ctrl+3 { move-column-to-workspace "chat"; }
    Mod+Ctrl+U { move-column-to-workspace-up; }
    Mod+Ctrl+D { move-column-to-workspace-down; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+M { maximize-column; }
    Mod+Ctrl+M { expand-column-to-available-width; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

