spawn-sh-at-startup "wl-paste --watch cliphist store &"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

window-rule {
	match app-id="org.gnome.NautilusPreviewer"
	open-floating true
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        drag true
        drag-lock
        natural-scroll
        accel-profile "flat"
        scroll-method "two-finger"
		scroll-factor 0.5
    }

    mouse {
        accel-profile "flat"
    }

	focus-follows-mouse
}

layout {
    gaps 6
    center-focused-column "never"
	always-center-single-column

    preset-column-widths {
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.8
    }

    preset-window-heights { 
        proportion 0.4
        proportion 0.5
        proportion 0.6
	}

    default-column-width {
		proportion 0.8
	}

    focus-ring {
        width 2
    }

    shadow {
        on

        softness 30
        spread 5
        offset x=0 y=0
    }
}

hotkey-overlay {
    skip-at-startup
}

animations {
    slowdown 1.0
}

switch-events {
    lid-close { spawn "bash" "-c" "dms ipc call lock lock && systemctl suspend"; }
}

binds {
    Mod+Return { spawn "alacritty"; }
    Mod+Shift+B { spawn "firefox"; }
    Mod+Shift+F { spawn "nautilus"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+B { focus-column-first; }
    Mod+E  { focus-column-last; }
    Mod+Ctrl+B { move-column-to-first; }
    Mod+Ctrl+E  { move-column-to-last; }

	Mod+Shift+K   { move-workspace-up; }
    Mod+Shift+J { move-workspace-down; }

    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp   { move-column-left; }

    Mod+Tab { focus-window-previous; }
    Mod+Shift+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+M { maximize-column; }
    Mod+Ctrl+M { maximize-window-to-edges; }
    Mod+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Ctrl+V       { toggle-window-floating; }
    Mod+V { switch-focus-between-floating-and-tiling; }
    Mod+T { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

include "dms/colors.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/wpblur.kdl"
