[Unit]
Description=Battery notifier
Wants=battery-notifier.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=graphical-session.target

