* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

menu,
tooltip {
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

menu menuitem,
button {
    padding: 5px 10px;
}

menu menuitem:hover,
button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.module {
    padding: 0 10px;
}

.modules-left {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin: 5px 0px 0px 5px;
}

.modules-center {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin: 5px 0px 0px 0px;
}

.modules-right {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin: 5px 5px 0px 0px;
}

#workspaces button.empty {
    color: #999999;
}

#workspaces button.active {
    box-shadow: inset 0 -3px #ffffff;
    color: #ffffff;
}

#workspaces button.urgent,
#wireplumber.muted,
#network.disconnected,
#tray > .needs-attention,
#power-profiles-daemon.performance,
#battery.critical:not(.charging) {
    background-color: alpha(#eb4d4b, 0.3);
}

#idle_inhibitor.activated,
#battery.charging, #battery.plugged,
#power-profiles-daemon.power-saver {
    background-color: alpha(#26A65B, 0.3);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

@keyframes blink {
    to {
        background-color: #000000;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#privacy-item {
    padding: 0 5px;
}
